//Variables
$media-mobile: "only screen and (max-width: 640px) and (min-width: 0px) ";

/*Generic icon class*/
.icon {
    position: absolute;

    &:before,
    &:after {
        content: '';
        position: absolute;
        display: block;
    }

    i {
        position: absolute;

        &:before,
        &:after {
            content: '';
            position: absolute;
            display: block;
        }
    }
}

@media #{$media-mobile} {
    .icon {
		top: 0px;
	}
}

/*Custom icons*/
.chart.icon {
    margin-left: 2px;
    margin-top: 4px;
    width: 16px;
    height: 12px;
    border-left: solid 1px #333333;
    border-bottom: solid 1px #333333;

    &:before {
        left: 1px;
        bottom: 1px;
        width: 1px;
        height: 4px;
        border: solid 1px #333333;
    }

    &:after {
        left: 5px;
        bottom: 1px;
        width: 1px;
        height: 8px;
        border: solid 1px #333333;
    }

    i {
        top: 11px;
        left: 8px;

        &:before {
            left: 1px;
            bottom: 0;
            width: 1px;
            height: 4px;
            border: solid 1px #333333;
        }

        &:after {
            left: 5px;
            bottom: 0;
            width: 1px;
            height: 8px;
            border: solid 1px #333333;
        }
    }

    &.filled {
        margin-left: 2px;
        margin-top: 4px;
        width: 16px;
        height: 12px;
        border-left: solid 1px #333333;
        border-bottom: solid 1px #333333;

        &:before {
            left: 1px;
            bottom: 1px;
            width: 3px;
            height: 6px;
            background-color: #333333;
            box-shadow: 8px 0 0 0 #333333;
            border: none;
        }

        &:after {
            left: 5px;
            bottom: 1px;
            width: 3px;
            height: 10px;
            background-color: #333333;
            box-shadow: 8px 0 0 0 #333333;
            border: none;
        }
    }
}

.overview.icon {
    margin-left: 2px;
    margin-top: 3px;
    width: 16px;
    height: 14px;
    border: solid 1px #333333;
    border-radius: 1px;

    &:before {
        left: 5px;
        top: -3px;
        width: 4px;
        height: 5px;
        border-left: solid 1px #333333;
        border-right: solid 1px #333333;
        box-shadow: 0 12px 0 -2px #333333, -4px 12px 0 -2px #333333, 4px 12px 0 -2px #333333, 0 9px 0 -2px #333333, -4px 9px 0 -2px #333333, 4px 9px 0 -2px #333333, 0 6px 0 -2px #333333, -4px 6px 0 -2px #333333, 4px 6px 0 -2px #333333;
    }

    &:after {
        left: -1px;
        top: 2px;
        width: 18px;
        height: 1px;
        background-color: #333333;
    }

    &.filled {
        background-color: #333333;

        &:before {
            box-shadow: 0 12px 0 -2px white, -4px 12px 0 -2px white, 4px 12px 0 -2px white, 0 9px 0 -2px white, -4px 9px 0 -2px white, 4px 9px 0 -2px white, 0 6px 0 -2px white, -4px 6px 0 -2px white, 4px 6px 0 -2px white;
        }

        &:after {
            background-color: white;
        }
    }
}

.analysis.icon {
    display: block;
    margin-top: 4px;
    margin-left: 4px;
    width: 11px;
    height: 13px;
    border: solid 1px #333333;
    border-top: none;
    border-radius: 1px;

    &:before {
        top: -1px;
        left: 2px;
        width: 5px;
        height: 1px;
        border: solid 1px #333333;
        border-radius: 1px;
    }

    &:after {
        width: 3px;
        height: 1px;
        background-color: #333333;
        box-shadow: 8px 0 0 0 #333333;
    }

    &.filled {
        background-color: #333333;

        &:before {
            background-color: white;
        }

        &:after {
            width: 3px;
            height: 1px;
            background-color: #333333;
            box-shadow: 8px 0 0 0 #333333;
        }
    }
}