//Variables
$media-mobile: "only screen and (max-width: 640px) and (min-width: 0px) ";

#chart-render {
    display: inline-block;
    width: calc(100vw - 24px);
    margin: 8px;
    padding: 4px;
    border-radius: 18px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transform: translate(0, 0);
    padding-bottom: 8px;
}

@media #{$media-mobile} {
    #chart-render {
        margin-bottom: 0 !important;
    }
}