<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title VKW UI
    body
        .page
            //- Top section
            .head-section
                .user-info
                    .name Loading...
                    .id(onclick="Interface.openProfile(event)")
                .user-controlls
                    .button.filters &#x2699;&#xFE0E;                        
                        .dropdown(view="filters")
                    .button.users &#9776;
                        .dropdown
                            div#users
                    .button.previous(onclick="Interface.changeUser(-1,true)") &#9668;
                    .button.next(onclick="Interface.changeUser(1,true)") &#9658;
            //- Main section
            .content-secton
                //- Tab buttons
                .tab-control
                    .tab(onclick="Tabs.change('Overview')")
                        .icon.overview
                    .tab(onclick="Tabs.change('Chart')")
                        .icon.chart
                            i
                    .tab(onclick="Tabs.change('Analysis')")
                        .icon.analysis

                .tab-content.overview(view="overview")
                .tab-content.chart(view="chart")
                .tab-content.analysis(view="analysis")
            .space
        