<!DOCTYPE html>
html(lang="en")
    head
        style
            include /dist/index.include.css
        script(type="module")
            include /dist/index.include.js
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title VKW UI
    body
        .page
            //- Top section
            .head-section
                .user-info
                    .name Loading...
                    .id(onclick="openProfile(event)")
                .user-controlls
                    .button.filters &#x2699;&#xFE0E;                        
                        .dropdown
                            include views/filters.include.pug
                    .button.users &#9776;
                        .dropdown
                            div#users
                    .button.previous(onclick="changeUser(-1,true)") &#9668;
                    .button.next(onclick="changeUser(1,true)") &#9658;
            //- Main section
            .content-secton
                //- Tab buttons
                .tab-control
                    .tab 
                        .icon.overview
                    .tab
                        .icon.chart
                            i
                    .tab
                        .icon.analysis

                .tab-content.overview
                    include views/overview.include.pug
                .tab-content.chart
                    include views/chart.include.pug
                .tab-content.analysis
                    include views/chart.include.pug
            .space
        footer
            include /dist/components/vendor/slider/index.include.html
            include /dist/components/vendor/chart/index.include.html
        