<!DOCTYPE html>
html(lang="en")
    head
        style
            include /dist/index.include.css
        script
            include /dist/index.include.js
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title VKW UI
    body
        //- Body Here -\\
        